// .main-header {
    
// }
#search{
    border: 0;
    outline: 0;
    width: 250px;
    padding: 10px;
    @include media-breakpoint-down(md){
        width: 0;
        padding: 0;
    }
}
@include media-breakpoint-down(md){
    .search-bar{
        &:hover{
            #search{
                width: 160px;
                padding: 10px;
            }
            .dropdown{
                display: none;
            }
        }
    }
}
.custom-search{
    padding: 10px 12px;
}
.btn-add{
    padding: 12px 16px;
}
#hamburger {
    &:checked {
        ~ .sidebar {
            width: 0px;
            flex: 0 0 0;
        }
    }
}
@include media-breakpoint-down(md) {
    #hamburger {
        &:checked {
            ~ .sidebar {
                width: 220px;
                flex: 0 0 220px;
                left: 0;
                z-index: 100;
            }
            ~ .backdrop {
                display: block;
            }
        }
    }
}
