.custom-progress{
    background: linear-gradient(to right, $primary, $primary-light);
}
.custom-progress-2{
    background: linear-gradient(to right, $warning, $warning-light);
}
.custom-progress-3{
    background: linear-gradient(to right, $info, $info-light);
}
.custom-progress-4{
    background: linear-gradient(to right, $primary, $primary-light);
}